.App-container {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}
.landingPage {
  display: flex;
  flex-direction: column;
}

.start-button {
  margin-left: 400px;
  margin-right: 400px;
  padding: 14px 28px;
}
.story {
  padding: 14px 28px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.title {
  margin-bottom: 200px;
}
